{% block content %}
  <h1>Login Existing User</h1>
  <form class="" action="{% url 'djangoProducts_app:login' %}" method="post">
    {% csrf_token %}
    <input type="text" name="username" value="" placeholder="Username">
    <input type="password" name="password" value="" placeholder="Password">
    <button type="submit" name="button">Submit</button>
  </form>
  <div class="">
    <p>Not a current user? Register <a href="{% url 'djangoProducts_app:register' %}">here</a></p>
  </div>
{% endblock %}
